


  
  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h3>Evolve your team's engagement & intelligence today</h3>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
         
            <p><a href="#">010-020-0340</a></p>
            <p><a href="#">info@datagateway.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
           
          </div>
        </div>
    

    <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About Data Gateway</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Privacy Center</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Trust and Security</a></li>
              <li><a href="#">Contact us & sales</a></li>
            </ul>
           
          </div>
        </div>

        <div class="col-lg-3">
          <div class="footer-widget">
            <!-- <h4>Data Gateway</h4> -->
            <div class="logo">
              <img src="assets/images/Data-.png" alt="">
              <h4>Data gateway</h4>
            </div>
            <p>Bring deeper insights into your target market with data enrichment from Apollo. Automatically keep your CRM data up-to-date and make it more actionable and effective.</p>
          </div>
        </div>
  

      
      </div>
    </div>
  </footer>