
<div class="div row mx-5 my-6" style="margin-top: 50px; margin-bottom: 50px;">

 
    <div class="shadow col-4" style="padding: 150px; margin-left: 100px;">
        <div class="example-container justify-content-center " >
           <div style="padding-left: 70px;  margin-bottom:20px ;"> <span class="material-symbols-outlined" style="width: 30px;">
            groups
            </span>
            <span style="font-weight: bolder; font-size: x-large;">Login</span>
        
        </div>
        <form action="" [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
          <mat-form-field class="form-field">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required formControlName="email">
          </mat-form-field>
        
          <mat-form-field class="form-field">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button class="btn btn-primary" type="submit" style="background-color: #1f1e1e">Log in</button>
        </form>
        
     <div>
        <div style="padding-left: 35px; margin-top: 12px;"><a href="/">Forgot Password?</a></div> 
        <div  style="padding-left: 20px; margin-top: 10px;">Don't have an account? <span style="padding-left: 40px;"><a href="/">Free Trial</a></span> </div>

     </div>


        </div>
    </div>


    <div class="col-6  " style="margin-left: 150px; ">
      <img src="https://images.pexels.com/photos/2882566/pexels-photo-2882566.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
    </div>
