<div class="header shadow-lg rounded-lg" style="transition: background-color 0.3s ease; background-color: beige;">
  <span class="title">
    <a routerLink="/main">
      <img src="./assets/DataGateway-von.png" alt="">
    </a>
  </span>
  <div class="user-box">
    <div class="button">
      <button class="demo-button">Request a Demo</button>
      

   
      <button type="button" class="signup-button-log" routerLink="login">Log in</button>
      <button type="button" class="signup-button" routerLink="signup">Sign up for free</button>
   
    </div>
  </div>
</div>

